
@page "/business/{BusinessId:int}/addPackage"
@using EcoMeal.Site.Models
@using EcoMeal.Site.Services


<div class="form-page-layout">
    <div class="form-container">
        <h2 class="form-title mb-4">Add Package</h2>

        <EditForm Model="PackageAddModel" OnValidSubmit="AddPackageToBusiness">
            <DataAnnotationsValidator/>
            <ValidationSummary />

            <div class="mb-3">
                <label class="form-label text-muted">Nume</label>
                <InputText class="form-input" @bind-Value="PackageAddModel.Name" placeholder="Adaugă nume pachet" />
                <ValidationMessage For="() => PackageAddModel.Name" />
            </div>

            <div class="mb-3">
                <label class="form-label text-muted">Descriere</label>
                <InputTextArea class="form-input" @bind-Value="PackageAddModel.Description" rows="4" placeholder="Descriere" />
            </div>

            <div class="mb-3">
                <label class="form-label text-muted">Preț</label>
                <InputNumber class="form-input" @bind-Value="PackageAddModel.Price" placeholder="Preț" />
            </div>

            <div class="mb-3">
                <label class="form-label text-muted">Start Pick-up</label>
                <InputDate class="form-input" @bind-Value="PackageAddModel.PickupStart" Type="InputDateType.DateTimeLocal" />
            </div>

            <div class="mb-3">
                <label class="form-label text-muted">End Pick-up</label>
                <InputDate class="form-input" @bind-Value="PackageAddModel.PickupEnd" Type="InputDateType.DateTimeLocal" />
            </div>

            <div class="mb-3">
                <label class="form-label text-muted">Tip pachet</label>
                <InputSelect class="form-input" @bind-Value="PackageAddModel.PackageTypeId">
                    <option value="0" disabled>Alege tipul...</option>
                    @foreach (var packageType in PackageTypes)
                    {
                        <option value="@packageType.Id">@packageType.Name</option>
                    }
                </InputSelect>
            </div>

            <button type="submit" class="btn-action mt-3">Adaugă pachet</button>
        </EditForm>
    </div>
</div>

@code{
    [Parameter]
    public int BusinessId { get; set; }
    [Inject]
    public required BusinessService BusinessService { get; set; }
    [Inject]
    public required NavigationManager NavigationManager { get; set; }

    private List<PackageTypeModel> PackageTypes { get; set; } = new();

    public PackageAddModel PackageAddModel { get; set; } = new PackageAddModel(){
        Name = string.Empty,
        Description = string.Empty,
        Price = 0,
        PickupStart = DateTime.Now,
        PickupEnd = DateTime.Now.AddHours(2),
    };

    protected override async Task OnInitializedAsync()
    {
        PackageTypes = await BusinessService.GetPackageTypesAsync();
    }

    public async Task AddPackageToBusiness()
    {
        await BusinessService.AddPackageToBusiness(BusinessId, PackageAddModel);
        NavigationManager.NavigateTo($"/business/{BusinessId}");
    }
}