@page "/"
@using EcoMeal.Site.Components.BusinessList
<PageTitle>EcoMeal</PageTitle>
<div class="text-center mb-5 mt-4">
    <div class="mb-4">
        <h1 class="display-5 fw-bold">Available Businesses</h1>
        <p class="lead text-muted">Choose from the list below the best offers for you.</p>
        <a class="btn btn-primary btn-lg mt-3" href="/business/add">Adaugă business</a>
    </div>
    <hr class="w-50 mx-auto" />
</div>
<BusinessList/>

