@page "/"
@using EcoMeal.Site.Components.BusinessList
<PageTitle>EcoMeal</PageTitle>
<div class="text-center mb-5 mt-4">
    <h1 class="display-5 fw-bold">Available Businesses</h1>
    <p class="lead text-muted">Choose from the list below the best offers for you.</p>
    <hr class="w-50 mx-auto" /> </div>
<BusinessList/>

