@using EcoMeal.Site.Models
@using EcoMeal.Site.Components.BusinessCard
@namespace EcoMeal.Site.Components.BusinessList
@rendermode InteractiveServer


@if(Businesses is null){
    <p>Loading...</p>
}
else{
    <div class="row g-4">
        @foreach(BusinessModel business in Businesses){
        <div class = "col-12 col-md-6 col-lg-4">
            <BusinessCard Business="business" OnDeleted="HandleDeleted" />
        </div>
    }
    </div>
}